body {
	font-family: Ariel;
}

.caption {
	font-size: 32px;
	text-align: center;
	font-weight: bold;
	color: #515A9D;
}

.table {
	margin: auto;
	background-color: #F3F5BF;
	border-collapse: collapse;
	border: 1px solid #0762EB;
}

.table th {
	font-weight: lighter;
	text-align: left;
	color: #005FF0;
}

.name-txtbox {
	width: 410px;
}

.address-textbox {
	width: 250px;
}

.phone-textbox {
	width: 200px;
}

input[type="text"] {
	margin: 1px;
}

.textarea {
	overflow-y: hidden;
	overflow-x: hidden;
	width: 380px;
	height: 30px;
	margin: 1px 1px 0 1px;
}

.legend {
	color: #A30400;
	font-style: italic;
}

.form1 {
	width: 439px;
	margin: 0 auto;
}

.fieldset {
	color: #005FF0;
    border: 2px solid #A30400;
    margin: 2px auto;
}

.fieldset input {
	width: 60px;
	height: 15px;
}

.content {
	text-align: center;
}

.button {
	height: 30px;
	width: 50px;
	padding: 1px;
	margin: 0 auto;
	display: block;
}