.table {
	border-collapse: collapse;
	border: 1px solid #9509B8;
	background-color: #B3E4F3;
	width: 270px;
	height: 80px;
}


.table th {
	text-align: left;
}

.table caption {
	margin: 10px auto;
	font-family: Ariel;
	font-size: 25px;
	font-weight: bold;
	color: #A62137;
}
.table th {
	font-weight: lighter;
}

.button {
	display: block;
	margin: 0 auto;
	width: 60px;
	height: 25px;
}

input[type="text"] {
	width: 150px;
	height: 12px;
	margin: 1px auto;
}